-you = params[:id] == 'current'
%h1= you ? "Your account" : "User #{@user.id}"

-form_for @user do |f|
	%dl
		%dt Identities
		-if @user.identities.empty?
			%dd none
		-elsif @user.identities.count == 1
			%dd= ident_html(@user.identities.first)
		-else
			-@user.identities.each do |i|
				%dd
					=f.radio_button(:default_identity_id, i.id)
					%label{:for => "user_default_identity_id_#{i.id}"}>= ident_html(i, false)
		%dt Email
		%dd
			=f.text_field :email
			.fieldnote (for notifications, not yet implemented)
		-if not @user.roles.empty?
			%dt Special permissions
			%dd=h @user.roles.collect(&:name).join(', ')

%h2 Comments
-comments = @user.comments.find(:all, :conditions => (has_role? :admin) ? nil : {:deleted => false})
%p #{pluralize comments.count, 'comment'}.
-# TODO update count on delete
-if not comments.empty?
	=render :partial => comments
	=button_to 'Delete all comments', (url_for :action=>:destroy, :id => you ? 'current' : @user)+'/comments', :method => :delete, :confirm => "Are you sure you want to delete your #{pluralize comments.count, 'comment'}?"

.dangerous
	%h2 Delete account
	%ul
		%li This will delete this site's record of your account.
		-if not @user.comments.empty?
			%li This will not delete any comments, do that above if you want, before deleting your account.
		%li It won't delete anything on any other site.
		%li
			Logging in with an identity from a deleted account will&hellip;
			%ul
				%li &hellip;still work, creating a new account.
				%li &hellip;reclaim any comments previously created using the same identity.
	=button_to 'Delete entire account', {:action => :destroy, :id => you ? 'current' : @user}, :method => :delete, :confirm => 'Are you sure you want to delete your account?'
