-is_current = current_page? project
-cache project.cache_key + (is_current ? '-c' : '') do
	%div[project]{:class => is_current ? nil : 'hentry'}
		%h2.entry-title= link_to_unless_current project.title, project
		.timescale #{project.start ? project.start.strftime('%B %Y') : 'unknown'} - #{project.end ? project.end.strftime('%B %Y') : 'present'} (#{project.status})
		.tags= render :partial => 'tags/tags', :object => project.tags
		-if project.vcs
			.vcs= project.vcs
		.entry-content= render :partial => 'common/body', :format => 'html', :object => (is_current || project.summary.blank?) ? project.body : project.summary
