-cache 'tree' do
	%ul
		-t = (tree.dup << StaticPage.new(:name => 'blog') << StaticPage.new(:name => 'projects')).sort {|a,b| a.name <=> b.name}
		-t.each do |page|
			-if page.name=='blog'
				%li#blogtree
					=link_to BLOG_WORD, root_path
					%ul
						-months = Post.all(:order => 'created_at DESC').group_by {|p| p.created_at.beginning_of_month }
						-months.each do |month,posts|
							%li
								=link_to month.strftime('%B %Y'), month.strftime('/%Y/%m')
								-if month >= 3.months.ago
									%ul
										-posts.each do |post|
											%li= link_to post.title, post
						%li= link_to 'Recent comments', comments_path
			-elsif page.name=='projects'
				%li#projecttree
					=link_to 'Projects', projects_path
					%ul
						-Project.all(:order => :name).each do |p|
							%li= link_to p.title, p
			-else
				%li= link_to page.title, page
		-if permitted_to? :create, StaticPage.new
			%li= button_to 'New page', new_static_page_path, :method => :get

	-tags = ActsAsTaggableOn::Tag.all
	-unless tags.empty?
		%hr
		.tags= render :partial => 'tags/tags', :object => tags
