!!! 5
%html{html_attrs('en-GB')}
	%head
		%meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
		%title<
			-title = yield :title
			=(title ? (title+" - ") : "") + SITE_NAME
		%meta{:name => 'author', :content => AUTHOR_NAME}
		%base{:href => root_url}
		%link{:rel  => 'author', :href => "http://#{HOSTNAME}/", :type => "text/html"}
		-canonical = url_for(:secure => false, :only_path => false, :host => request.host)
		-if not current_page? canonical
			%link{:rel => 'canonical', :href => canonical}
		%link{:rel => 'shortcut icon', :href => image_path('favicon.png'), :type => 'image/png'}
		%link{:rel => 'apple-touch-icon', :href => image_path('touch-icon.png'), :type => 'image/png'}
		-if request.ssl? and current_page? '/' and request.query_string.blank? and defined? OPENID2_PROVIDER and defined? OPENID2_LOCAL_ID
			%link{:rel => 'openid2.provider', :href => OPENID2_PROVIDER}
			%link{:rel => 'openid2.local_id', :href => OPENID2_LOCAL_ID}
		-if controller.controller_name == 'tags' and @tag
			=auto_discovery_link_tag :atom, acts_as_taggable_on_tag_feed_url(@tag, :secure=>false), :title => "Tag '#{@tag.name}' - #{SITE_NAME}"
		-else
			=auto_discovery_link_tag :atom, feed_url(:secure=>false), :title => SITE_NAME
		=stylesheet_link_tag :all, :recursive => true, :cache => true, :media => :all
		=yield :head

	%body
		#page
			=render 'user_sessions/identblock'

			#tree
				%nav= render :partial => 'common/tree', :object => if has_role? :admin then StaticPage.all else StaticPage.by_draft(false) end

			#content{:class => controller ? (controller.controller_name=='tags' ? 'tags_controller' : controller.controller_name) : nil}
				-if flash[:notice]
					.notice= flash[:notice]
				-if flash[:warning]
					.warning= flash[:warning]
				-if flash[:error]
					.error= flash[:error]

				=yield

			=render 'common/footer'

		=javascript_include_tag :all, :cache => true
		=yield :js
		-if defined? GOOGLE_ANALYTICS[Rails.env]['id']
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', "#{GOOGLE_ANALYTICS[Rails.env]['id']}"]);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
