!!! 5
%html{html_attrs('en-GB')}
	%head
		%meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
		%title<
			-title = yield :title
			=(title ? (title+" - ") : "") + SITE_NAME
		-canonical = url_for(:secure => false, :only_path => false, :host => request.host)
		-if not current_page? canonical
			%link{:rel => 'canonical', :href => canonical}
		%link{:rel => 'shortcut icon', :href => image_path('favicon.png'), :type => 'image/png'}
		%link{:rel => 'apple-touch-icon', :href => image_path('touch-icon.png'), :type => 'image/png'}
		-if request.ssl? and current_page? '/' and request.query_string.blank? and defined? OPENID2_PROVIDER and defined? OPENID2_LOCAL_ID
			%link{:rel => 'openid2.provider', :href => OPENID2_PROVIDER}
			%link{:rel => 'openid2.local_id', :href => OPENID2_LOCAL_ID}
		-if controller.controller_name == 'tags' and @tag
			=auto_discovery_link_tag :atom, acts_as_taggable_on_tag_feed_url(@tag, :secure=>false), :title => "Tag '#{@tag.name}' - #{SITE_NAME}"
		-else
			=auto_discovery_link_tag :atom, feed_url(:secure=>false), :title => SITE_NAME
		=stylesheet_link_tag :all, :recursive => true, :cache => true, :media => :all
		=yield :head

	%body
		#page
			=render 'user_sessions/identblock'

			#tree
				=render :partial => 'common/tree', :object => StaticPage.all

			#content{:class => controller ? (controller.controller_name=='tags' ? 'tags_controller' : controller.controller_name) : nil}
				-if flash[:notice]
					.notice= flash[:notice]
				-if flash[:warning]
					.warning= flash[:warning]
				-if flash[:error]
					.error= flash[:error]

				=yield
			.clear

			#footer
				%hr
				Opinions my own unless otherwise stated. &copy; Chris Boyle 2010, comments &copy; their authors, icons &copy;/&trade; their owners. Trouble with this site? Use the #{link_to 'public bug tracker', 'http://github.com/chrisboyle/cbn/issues'} or #{link_to 'contact me', '/contact'}.

		=javascript_include_tag :all, :cache => true
		=yield :js
		-if defined? GOOGLE_ANALYTICS[Rails.env]['id']
			:javascript
				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			:javascript
				try{
				var pageTracker = _gat._getTracker("#{GOOGLE_ANALYTICS[Rails.env]['id']}");
				pageTracker._trackPageview();
				} catch(err) {}
